{% extends "base.html" %}
{% block staticlinks %}
{% endblock %}


{% block content %}
<!--
	<div class="alert alert-primary" role="alert">
	  Existing personal budgeting programs (Mint, YNAB, etc.) rely on zero-cash-flow accounting systems, which are unreliable and do not allow for the flexibility of double-entry bookkeeping. Business budgeting programs (e.g. Quickbooks) typically use double-entry accounting but are unwieldy and convoluted for personal use.
	  <hr>
	  <b>This website aims to reconcile that difference by creating a smooth, easy-to-use double-entry accounting system for personal budgeting purposes.</b> To test it out on this demo account, click on one of the accounts below (e.g., "Checking Account"), and try adding a new transaction. 
	</div>
-->
	<div class="row justify-content-center py-2" style="background-color:rgba(25, 50, 20, 0.05)">
		<h3 class="text-center">Net Worth & Account Balances</h3>
		<h5 class="text-center">Net Worth: <span class="text-success" id="net-worth"></span></h5>
		<div class="col-xl-8 col-lg-10 col-12-md px-2" id="accounts-chart-div"></div>
	</div>

    <section class="container">
			<!--<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-10 col-12-md px-2" id="accounts-chart-div"></div>
			</div>-->
			<div class="row justify-content-center my-2">
				<div class="col-auto">
					<table class="border-bottom" id="accounts-table"></table>
				</div>
			</div>
			<div class="row justify-content-center my-4">
			
				<div class="col-6">
					<div class="d-grid gap-2">
					  <button class="btn btn-success" type="button" id="add-account-open">Add New Account</button>
					</div>
				</div>
			</div>

    </section>

		
		
		<!-- Edit Account Modal -->
		<div class="modal fade" id="edit-account-modal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form class="form">
						<div class="modal-header">
							<h5 class="modal-title">Edit Account Information</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
						
							<div class="input-group input-group-sm mb-2">
								<span class="input-group-text">ID:</span>
								<input type="text" class="form-control" id="edit-account-id" placeholder="1" disabled>
							</div>
							
							<div class="input-group mb-2">
								<span class="input-group-text">Account Name:</span>
								<input type="text" class="form-control" id="edit-account-name" placeholder="Account Name">
							</div>


							<div class="input-group mb-2">
								<span class="input-group-text">Parent Account:</span>
								<select class="form-control form-select form-select-sm" id="edit-account-parent-id"></select>
								<span class="input-group-text">Order:</span>
								<select class="form-control form-select form-select-sm" id="edit-account-rel-order"></select>
							</div>
	
							<div class="input-group mb-2">
								<span class="input-group-text">Debit Effect on Balance:<span class="fa fa-question-circle fa-fw ml-1 mr-1"></span></span>
								<div class="btn-group" role="group">
									<input type="radio" class="btn-check" name="edit-account-debit-effect" id="edit-account-debit-effect-1" value="1" autocomplete="off">
									<label class="btn btn-outline-primary" for="edit-account-debit-effect-1">Increases</label>
									<input type="radio" class="btn-check" name="edit-account-debit-effect" id="edit-account-debit-effect-2" value="-1" autocomplete="off">
									<label class="btn btn-outline-primary" for="edit-account-debit-effect-2">Decreases</label>
								</div>
							</div>
							<div class="form-check form-switch">
							  <input id="edit-account-is-open" class="form-check-input" type="checkbox">
							  <label class="form-check-label" for="edit-account-is-open">Account is Open to New Transactions</label>
							</div>

							<div class="invalid-feedback mt-1" style="color: #DC3545, font-size: .8rem">Error Message!</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button class="btn btn-primary" id="edit-account-submit" type="button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		
		<!-- Add Account Modal -->
		<div class="modal fade" id="add-account-modal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form class="form">
						<div class="modal-header">
							<h5 class="modal-title">New Account Information</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
						
							<div class="input-group mb-3">
								<span class="input-group-text">Account Name:</span>
								<input type="text" class="form-control" id="add-account-name" placeholder="Enter Account Name Here">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text">Parent Account:</span>
								<select class="form-control form-select form-select-sm" id="add-account-parent-id"></select>
								<span class="input-group-text">Order:</span>
								<select class="form-control form-select form-select-sm" id="add-account-rel-order">
									<option value="1">1</option>
								</select>
							</div>

	
							<div class="input-group">
								<span class="input-group-text">Debit Effect on Balance:<span class="fas fa-question-circle mx-1"></span></span>
								<div class="btn-group" role="group">
									<input type="radio" class="btn-check" name="add-account-debit-effect" id="add-account-debit-effect-1" value="1" autocomplete="off" checked>
									<label class="btn btn-outline-primary" for="add-account-debit-effect-1">Increases</label>
									<input type="radio" class="btn-check" name="add-account-debit-effect" id="add-account-debit-effect-2" value="-1" autocomplete="off">
									<label class="btn btn-outline-primary" for="add-account-debit-effect-2">Decreases</label>
								</div>
							</div>
									
							<div class="invalid-feedback mt-1" style="color: #DC3545, font-size: .8rem">Error Message!</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button class="btn btn-primary" id="add-account-submit" type="button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>


{% endblock %}