<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title|e }}</title>
    <link rel="icon" type=image/ico href="/static/favicon2.png"/>
	
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style-bs.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	
	<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>-->
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Assistant" as="style">
	<link rel="preload" href="https://fonts.googleapis.com/css?family=Merriweather" as="style">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
	
	<script src="https://cdn.datatables.net/buttons/2.2.6/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.6/js/buttons.html5.min.js"></script> <!-- HTML export buttons -->
		
   	<script src="//code.highcharts.com/stock/highstock.js"></script>
	
	<script src="https://bongohead.github.io/gradient.js/gradient-min.js"></script>
	{{ pageJS | raw }}


    {% block staticlinks %}{% endblock %}
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark sticky-top pt-1">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="/static/slug3.png" class="py-0" height="35" width="100"></img>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg"><span class="navbar-toggler-icon"></span></button>

				<div class="navbar-collapse collapse" id="collapsingNavbarLg">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="/accounts"><i class="bi bi-piggy-bank me-1"></i>Accounts Summary</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbar-detailed-accounts-label" data-bs-toggle="dropdown">
								<i class="bi bi-journal-richtext me-1"></i>Detailed Accounts
							</a>
							<div class="dropdown-menu" id="navbar-detailed-accounts">
								<div class="d-md-flex align-items-start justify-content-start">
								</div>
								<div class="dropdown-divider"></div>

							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/budget"><i class="bi bi-wallet2 me-1"></i>Monthly Budget</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/expenses"><i class="bi bi-graph-up me-1"></i>Expenses Summary</a>
						</li>

					</ul>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-hammer"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-lg-end" >
								<div class="d-md-flex align-items-end justify-content-start">
									<div>
										<div class="dropdown-header py-0 mx-3 mb-1 border-bottom border-black" style="font-size:1.0rem">Links</div>
										<a class="dropdown-item" href="/calendar">Printable Monthly Calendar</a>
									</div>
								</div>
							</div>
						</li>

						<li class="nav-item">
							<a class="btn btn-dark" href="/login"><i class="bi bi-power me-1"></i>Logout</a>
						</li>
					</ul>
				</div>
				
				
			</div>
		</nav>
	</header>
    
	<main>
		<div class="row gx-0" style="background-color:rgb(247, 252, 255)">
			<nav id="sidebar" class="sidebar col-lg-auto d-none d-lg-block px-0 py-2 bg-white"> <!-- Hide Sidebar for XS and S Devices -->
				<div class="nav flex-column">
					<a href="#account-links" data-bs-toggle="collapse" class="nav-link">
						<div>
							<i class="bi bi-person-video2"></i>
							<span class="ps-2">My Account</span>
							<i class="bi bi-caret-down-fill ms-1"></i>
						</div>
					</a>
					<div id='account-links' class="sidebar-submenu">
						<a class="text-truncate" href="/accounts">
							<i class="bi bi-piggy-bank"></i><span class="ps-2">Accounts Summary</span>
						</a>
						<a class="text-truncate" href="/budget">
							<i class="bi bi-wallet2"></i><span class="ps-2">Monthly Budget</span>
						</a>
						<a class="text-truncate" href="/income">
							<i class="bi bi-box-arrow-in-right"></i><span class="ps-2">Income Graph</span>
						</a>
						<a class="text-truncate" href="/expenses">
							<i class="bi bi-box-arrow-right"></i><span class="ps-2">Expense Graph</span>
						</a>
						<a class="text-truncate" href="/login">
							<i class="bi bi-power"></i><span class="ps-2">Log Out</span>
						</a>
					</div>
					<a href="#transactions-links" data-bs-toggle="collapse" class="nav-link">
						<div>
							<i class="bi bi-coin"></i>
							<span class="ps-2">Transactions</span>
							<i class="bi bi-caret-down-fill ms-1"></i>
						</div>
					</a>

					<div id='transactions-links' class="show sidebar-submenu"> <!-- Switch show to collapse to hide ond efault"
						<!--<a class="list-group-item list-group-item-action" href="/transactions"><span>Transactions 1</span></a>-->
					</div>				
				</ul>
				</div>
			</nav>
			<div class="col mx-2 pb-5">
				<div class="container-xxl">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</main>

	<footer class="container-fluid text-white px-0 bg-dark">
		<div class="container py-3">
			<div class="row">
				<div class="col-6 mb-2 mb-md-0">
					<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
					  <li>
						<a href="https://charlesye.com" class="text-white">My Portfolio</a>
					  </li>
					</ul>
				</div>
				<div class="col-6 mb-2 mb-md-0 text-end">
					<h5 class="text-uppercase mb-0">CONTACT</h5>
					<ul class="list-unstyled">
					  <li>
						<a href="mailto:charles@econforecasting.com" class="text-white">Email: charles (at) econforecasting (dotcom)</a>
					  </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.2)">
			<div class="container text-end p-2">
				<span>© 2023 <img class="mx-1" src="/static/slug2.png" width="16" height="16"> Charles Ye</span>
			</div>
		</div>
	</footer>
        
        
        
	<div class="overlay h-100" id="overlay" style="display:none;color:var(--bs-dark)">
		<div class="row h-25">
			<div class=""></div>
		</div>
		<div class="row justify-content-center">
			<div class="col-auto"><h4>Loading</h4></div>
		</div>		
		<div class="row justify-content-center">
			<div class="spinner-grow" style="width: 6rem; height: 6rem;" role="status">
			  <span class="visually-hidden">Loading</span>
			</div>
		</div>
	</div>


	<script>
	  {{ bodyScript |raw }}
	</script>
	
</body>

</html>
