{% extends "base.html" %}
{% block staticlinks %}
{% endblock %}


{% block content %}



<div class="container">
	<div class="row justify-content-center py-2">
		<h3>
			<span class="align-bottom">List of Budgets</span>
			<button id="add-budget-open" class="btn btn-sm btn-success" type="submit"><span class="fas fa-plus me-1"></span>Modify Monthly Budget</button>
		</h3>
	</div>
</div>

<section class="container">
	<!--<div class="row justify-content-center">
		<div class="col-xl-8 col-lg-10 col-12-md px-2" id="accounts-chart-div"></div>
	</div>-->
	<div class="row justify-content-center my-2">
		<div class="col-auto">
			<table class="border-bottom" id="accounts-table"></table>
		</div>
	</div>
	<div class="row justify-content-center my-4">
	
		<div class="col-6">
			<div class="d-grid gap-2">
			  <button class="btn btn-success" type="button" id="add-account-open">Add New Account</button>
			</div>
		</div>
	</div>
</section>



<!-- Modify Budget Modal -->
<div class="modal fade" id="add-budget-modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<form class="form">
				<div class="modal-header">
					<h5 class="modal-title">Modify Monthly Budget</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				
					<div class="invalid-feedback mt-1" style="color: #DC3545, font-size: .8rem">Error Message!</div>

					<div class="row justify-content-center my-2">
						<div class="col-12 px-4">
							<table id="add-budget-table" class="border-bottom w-100"></table>
						</div>
					</div>

							
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button class="btn btn-primary" id="add-budget-submit" type="button">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}